@import '../scss/var';
@import '../scss/mixin';
@import '../scss/vendor';


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*{
    @include main-font(1.4rem, 1.8rem, 400);
    transition: all 0.2s linear;
}
a, a:hover{
    text-decoration: none;
}
.ad-banner{
    height: 60px;
    img{
        width: auto;
        height: 100%;
    }
}
.active{
    display: block !important;
}
.navbar{
    position: sticky;
    z-index: 9999;
    width: 100%;
    top:0%; left: 0; top: 0;
    background: $bg2-color;
    border-bottom: 0.1rem solid $extra-color;  
    .navbar-toggler {
        font-size: 2rem !important;
    }   
    li{
        max-width: 0 1rem;
         .nav-link{
            @include main-font(1.5rem, 2rem, 600);
            color: $text-color;
            &:hover{
                color: $main-color;
            }            
        }
        .dropdown{
            padding-right: 2rem;
            .dropdown-toggle::after {
                position: absolute;
                top: 0.7rem;
                content: "\f078";
                font: var(--fa-font-solid);
                border-top: 0 solid transparent !important;
            }
        }
        .dropdown-menu{
            background-color: $bg-color;
            position: absolute;
            top: 20rem;
        }
        li{
            padding: 0;
            .dropdown-item{
            @include main-font(1.3rem, 1.6rem, 600);
                &:hover{
                    color: $bg2-color;
                    background-color: $extra-color;
                }
            }
        }
    }
}

.btn-main{
    background-color: $main-color;
    color: $bg2-color;
    @include main-font(1.5rem, 2rem, 600);
    border: 0px transparent;
    border-radius: 3.3rem;
    padding: 1rem 3.5rem;
    margin-top: 2rem;
    box-shadow: 0px 16px 48px #00000029;
    transition: 0.2ms;
    &:hover{
        box-shadow: 0px 2px 8px #000000e3;
        transform: translate(3);
    }
}
header{
    position: relative;
    .wave-bg{
        position: absolute;
        height: 80vh;
        bottom: 0%;
        left: 0%;
        width: 100%;
        z-index: 2;
        display: flex;
        overflow: hidden;
        background: center bottom url(../images/wave.svg) no-repeat;
        background-size: 130%;
    }
    .box-text{
        min-height: 80%;
        width: 100%;
        position: relative;
        z-index: 3;
        @include content_center(flex-start);
        h1{
            @include main-font(3rem, 4.5rem, 900);
        }
        p{
            margin-top: 0.8rem;
        }
    }
}
.box-img{
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.page-1,.page-2, .page-3, .page-4, .page-5{
    padding: 5rem 0;
    min-height: 90vh;
    .row{
        padding: 6rem;
    }
    h2{
        @include first-tit;
    }
}
.page-1{
    background-color: $bg-color;
        .text-card-1{
            background-color: $bg2-color;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 1.8rem;
            padding: 3.5rem 2rem;
            h6{
                @include main-font(1.4rem, 1.8rem, 900);
                text-align: center;
                margin-bottom: 1.5rem;
            }
        }
}
.page-2{
    position:relative;
    width: 100%;
    overflow: hidden;
    padding-top: 0%;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
        z-index: -1;
        background: center bottom url(../images/wave.svg) no-repeat;
        background-size: 100%;
        transform: rotate(180deg);
      }   
      .text-card-2{
        padding: 0% 1rem;
        img{
            height: 15.69rem;
            width: auto;
        }
        h6{
            @include main-font(1.4rem, 1.8rem, 900);
            margin: 2.3rem 0 1.5rem;
        }
      }
}
.page-3{
    .row{
        padding: 1rem 6rem;
        .icon-square{
            margin-bottom: 1.5rem;
            img{
                height: 6rem;
            }
        }
    }
    h4{
        @include main-font(1.8rem, 2.2rem, 600);
    }
}
.page-4{    
    .my-slider{
        background-color: $bg-color;
        border-radius: 3.3rem;
        box-shadow: 0px 16px 48px #00000029;
        width: 100%;
        height: 30rem;
        overflow-y: visible;
        padding: 4rem;
        margin-top: 5rem;
        .emp-tit{
            h4{
                @include main-font(1.8rem, 2.2rem, 600);
            }
            img{
                height: 6rem;
                width: auto;
            }
        }
        .box-container{
            padding: 2rem;
            padding-bottom: 5rem;
            .swiper-button-next, .swiper-button-prev{
                background-color: $bg2-color;
                border-radius: 50%;
                width: 5.5rem;
                height: 5.5rem;
                box-shadow: 0px 7px 17px #00000029;
                position: absolute;
                &::after{
                    font-size: 1.2rem;
                    font-weight: bolder;
                }
                &:hover{
                    background: $main-color;
                    color: $bg2-color;
                }
            }            
            .swiper-button-next{
                right: 0;
            }
            .swiper-button-prev{
                left: 0;
            }
            .box{
                background: $bg2-color;
                padding: 2rem;
                border-radius: 3rem;
                box-shadow: 0px 16px 48px #00000029;
                .icon-round{
                    height: 3.3rem;
                    width: 3.3rem;
                    border-radius: 50%;
                    overflow: hidden;
                }
                .emp-detail{
                    h6{
                        @include main-font(1.1rem, 1.3rem, 600);
                        span{
                            @include main-font(1.1rem, 1.3rem, 400);
                            color: #FED800;
                            float: right;
                        }
                    }
                    p{
                        @include main-font(1.1rem, 1.3rem, 400);
                        color: #615C5C;
                        margin-bottom: 0;
                    }
                }
                p{
                    @include main-font(1.3rem, 1.5rem, 400);
                }
            }
        }
    }
}
.page-5{
    min-height: 70vh;
    .text-card-2{
        img{
            height: 5rem;
        }
        h6{
            @include main-font(1.4rem, 1.8rem, 900);
            margin: 2.3rem 0 1.5rem;
        }
    }
}
footer{
    background-color: $text-color;
    color: $bg2-color;
    padding: 20rem 0 3rem;
    text-align: center;
}

.active{
    display: block;
}











@media (max-width:'991px') {
    .page-1 .row, .page-2 .row, .page-3 .row, .page-4 .row, .page-5 .row {
        padding: 6rem 0;
    }
    .navbar-nav {
        position: absolute;
        width: 100%;
        background: #fff;
        border: 0.1rem solid #eee;
        padding: 0 2rem;
    }
}

@media (max-width:'768px') {
    html{
        font-size: 55%;
    }
    
  header {
    .box-img{
        display: none;
    }
  }
    .page-2{
        text-align: center;
        .col-12{
            margin-bottom: 3rem;
        }
    }    
}