@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;900&display=swap");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 400;
  transition: all 0.2s linear;
}

a, a:hover {
  text-decoration: none;
}

.ad-banner {
  height: 60px;
}
.ad-banner img {
  width: auto;
  height: 100%;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 9999;
  width: 100%;
  top: 0%;
  left: 0;
  top: 0;
  background: #fff;
  border-bottom: 0.1rem solid #707070;
}

.navbar .navbar-toggler span {
  font-size: 2rem !important;
}
.navbar li {
  margin: 0 1rem;
}
.navbar li .nav-link {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #000;
}
.navbar li .nav-link:hover {
  color: #1492E6;
}
.navbar li .dropdown-toggle::after {
  position: absolute;
  top: 0.7rem;
  content: "\f078";
  font: var(--fa-font-solid);
  border-top: 0 solid transparent !important;
}
.navbar li .dropdown-menu {
  background-color: #F8FAFC;
}
.navbar li li {
  padding: 0;
}
.navbar li li .dropdown-item {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 600;
}
.navbar li li .dropdown-item:hover {
  color: #fff;
  background-color: #707070;
}

.btn-main {
  background-color: #1492E6;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  border: 0px transparent;
  border-radius: 3.3rem;
  padding: 1rem 3.5rem;
  margin-top: 2rem;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.1607843137);
  transition: 0.2ms;
}
.btn-main:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8901960784);
  transform: translate(3);
}

header {
  position: relative;
}
header .wave-bg {
  position: absolute;
  height: 80vh;
  bottom: 0%;
  left: 0%;
  width: 100%;
  z-index: 2;
  display: flex;
  overflow: hidden;
  background: center bottom url(../images/wave.svg) no-repeat;
  background-size: 130%;
}
header .box-text {
  height: 80vh;
  width: 100%;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
header .box-text h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 3rem;
  line-height: 4.5rem;
  font-weight: 900;
}
header .box-text p {
  margin-top: 0.8rem;
}

.box-img {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.page-1, .page-2, .page-3, .page-4, .page-5 {
  padding: 5rem 0;
  min-height: 90vh;
}
.page-1 .row, .page-2 .row, .page-3 .row, .page-4 .row, .page-5 .row {
  padding: 6rem;
}
.page-1 h2, .page-2 h2, .page-3 h2, .page-4 h2, .page-5 h2 {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.5rem;
  line-height: 3.8rem;
  font-weight: 600;
}

.page-1 {
  background-color: #F8FAFC;
}
.page-1 .text-card-1 {
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 1.8rem;
  padding: 3.5rem 2rem;
}
.page-1 .text-card-1 h6 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1.5rem;
}

.page-2 {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 0%;
}
.page-2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: -1;
  background: center bottom url(../images/wave.svg) no-repeat;
  background-size: 100%;
  transform: rotate(180deg);
}
.page-2 .text-card-2 {
  padding: 0% 1rem;
}
.page-2 .text-card-2 img {
  height: 15.69rem;
  width: auto;
}
.page-2 .text-card-2 h6 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 900;
  margin: 2.3rem 0 1.5rem;
}

.page-3 .row {
  padding: 1rem 6rem;
}
.page-3 .row .icon-square {
  margin-bottom: 1.5rem;
}
.page-3 .row .icon-square img {
  height: 6rem;
}
.page-3 h4 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 600;
}

.page-4 .my-slider {
  background-color: #F8FAFC;
  border-radius: 3.3rem;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.1607843137);
  width: 100%;
  height: 30rem;
  overflow-y: visible;
  padding: 4rem;
  margin-top: 5rem;
}
.page-4 .my-slider .emp-tit h4 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 600;
}
.page-4 .my-slider .emp-tit img {
  height: 6rem;
  width: auto;
}
.page-4 .my-slider .box-container {
  padding: 2rem;
  padding-bottom: 5rem;
}
.page-4 .my-slider .box-container .swiper-button-next, .page-4 .my-slider .box-container .swiper-button-prev {
  background-color: #fff;
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  box-shadow: 0px 7px 17px rgba(0, 0, 0, 0.1607843137);
  position: absolute;
}
.page-4 .my-slider .box-container .swiper-button-next::after, .page-4 .my-slider .box-container .swiper-button-prev::after {
  font-size: 1.2rem;
  font-weight: bolder;
}
.page-4 .my-slider .box-container .swiper-button-next:hover, .page-4 .my-slider .box-container .swiper-button-prev:hover {
  background: #1492E6;
  color: #fff;
}
.page-4 .my-slider .box-container .swiper-button-next {
  right: 0;
}
.page-4 .my-slider .box-container .swiper-button-prev {
  left: 0;
}
.page-4 .my-slider .box-container .box {
  background: #fff;
  padding: 2rem;
  border-radius: 3rem;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.1607843137);
}
.page-4 .my-slider .box-container .box .icon-round {
  height: 3.3rem;
  width: 3.3rem;
  border-radius: 50%;
  overflow: hidden;
}
.page-4 .my-slider .box-container .box .emp-detail h6 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-weight: 600;
}
.page-4 .my-slider .box-container .box .emp-detail h6 span {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-weight: 400;
  color: #FED800;
  float: right;
}
.page-4 .my-slider .box-container .box .emp-detail p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-weight: 400;
  color: #615C5C;
  margin-bottom: 0;
}
.page-4 .my-slider .box-container .box p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.page-5 {
  min-height: 70vh;
}
.page-5 .text-card-2 img {
  height: 5rem;
}
.page-5 .text-card-2 h6 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 900;
  margin: 2.3rem 0 1.5rem;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20rem 0 3rem;
  text-align: center;
}

.active {
  display: block;
}

@media (max-width: 991px) {
  .page-1 .row, .page-2 .row, .page-3 .row, .page-4 .row, .page-5 .row {
    padding: 6rem 0;
  }
  .navbar-nav {
      position: absolute;
      width: 100%;
      background: #fff;
      border: 0.1rem solid #eee;
      padding: 0 2rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  header .box-img{
      display: none;
  }
  .page-2 {
    text-align: center;
  }
  .page-2 .col-12 {
    margin-bottom: 3rem;
  }
}/*# sourceMappingURL=main.css.map */